<%- include('./include/head.ejs') %>
<div class="container-fluid">
  <%- include('./include/header.ejs') %>
  <div class="row">
    <% if(authors.length > 0) { %>
    <div class="col-xs-12 col-md-6 mx-auto text-center">
      <h1>Authors</h1>
      <ul>
        <% for (let author of authors) { %>
        <div class="card mt-3 mb-3">
          <div class="card-header">
            <h3><%= author.name %></h3>
          </div>
          <div class="card">
            <h5>Books in the library:</h5>

            <% let autBook = author.books; %> <% for (let book of autBook) { %>
            <h6><a href="/book/<%= book._id%>"> <%= book.title%> </a></h6>
            <% } %>
          </div>
          <!-- user actions -->
          <div class="d-flex justify-content-center">
            <a class="btn btn-secondary" href="/author/<%= author._id%>"
              >Show</a
            >
          </div>
          <!-- admin actions -->
          <% if(isAdmin) {%>
          <div class="d-flex justify-content-center">
            <a class="btn btn-secondary" href="/edit-author/<%= author._id%>"
              >Edit</a
            >
            <form method="POST" action="/delete-author/<%= author._id%>">
              <!-- csrf token -->
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <button class="btn btn-danger" type="submit">Delete</button>
            </form>
          </div>
          <% }%>
        </div>
        <% }%>
      </ul>
    </div>
    <% } else {%>
    <h3 class="mx-auto text-secondary mt-3">No authors yet</h3>
    <% } %>
  </div>
</div>
<%- include('./include/end.ejs') %>
