<%- include('./include/head.ejs') %>
<div class="container-fluid">
  <%- include('./include/header.ejs') %>
  <div class="row">
    <div class="col-12 text-center">
      <h1>Books Page</h1>
      <div>
        <% for (let book of books) { %>
        <div class="card mt-3 mb-3">
          <div class="card-header">
            <h3><%= book.title %></h3>
          </div>
          <span>Author:</span>
          <h4><%= book.author.name %></h4>

          <span>Page count:</span>
          <h4><%= book.pageCount%></h4>
          <span>Published:</span>
          <h4><%= book.publishDate%></h4>
          <span>Price:</span>
          <h4><%= book.price%> $</h4>

          <!-- user actions -->
          <% if(isAuthenticated) { %>
          <div class="d-flex justify-content-center">
            <a class="btn btn-success" href="/book/<%=book._id%>">Show</a>      
             <form action="/add-to-cart/<%= book._id%>" method="POST">
              <input type="hidden" name="bookId" value="<% book._id %>">
               <!-- csrf token -->
               <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
               <button type="submit" class="btn btn-outline-primary">
                Add To Cart
               </button>
             </form>
          </div>
          <% } %>

          <!-- admin actions -->
          <% if(isAdmin) { %>
          <div class="d-flex justify-content-center">
            <a class="btn btn-warning" href="/edit-book/<%=book._id%>">Edit</a>
             <form action="/delete-book/<%= book._id%>" method="POST">
               <button type="submit" class="btn btn-danger">
                 Delete
               </button>
             </form>
          </div>
          <% } %>
        </div>
        <% }%>
      </ul>
    </div>
  </div>
</div>
<%- include('./include/end.ejs') %>
