<%- include('./include/head.ejs') %>

<body>
  <div class="container-fluid">
    <%- include('./include/header.ejs') %>
    <div class="row">
      <div class="col-12 text-center">
        <h1>Welcome to BookShop.com</h1>
        <div>
          <h2>Last added titles</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <% for(let book of books) { %>
      <div class="col-sm-6 mt-4">
        <div class="card">
          <div class="card-header">
            <h4><%= book.title%></h4>
          </div>
          <div class="card-body">
            <h5><%= book.author.name%></h5>
            <h5><%= book.price%> $</h5>
          </div>
        </div>
      </div>
      <%}%>
    </div>
  </div>
  <%- include('./include/end.ejs') %>
</body>
